<div id="close-modal" class="close">

  <div id="modal">
    <div class="content">
      <fieldset class="header">
        <h1>Pontos de Coleta</h1>
        <a href="#"><span></span>fechar</a>
      </fieldset>
      <form action="search">
        <input type="text" name="state" placeholder="Digite a Uf do Estado">
        <input type="text" name="city"  placeholder="Digite a cidade">
        <button><img src="/icones/search.svg" alt="buscar"> Buscar</button>
      </form>
    </div>
  </div>
  
</div>